body {
  background-image: url(Assignment-03/images/backdrop.gif);
}
header {
  text-align: center;
}

.content figure {
  border-style:solid;
  border-width:07px;
  border-color:beige;
}
.content figure figcaption {
  background-color:beige;
}
.content {
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 10px;
}

.row {
  margin-bottom: 30px;
}